---
import Main from "../layouts/Main.astro";
---

<Main title="Cennik">
  <section class="section">
    <div class="container">
      <h1 class="title">Cennik</h1>
      <p class="is-size-5 m-5" style="text-align: center;">
        Cena podana poniżej dotyczy wersji <b>podstawowej 1 modułowej</b>.
        <br />Jest to <b>jednorazowa</b> opłata za okres jednego wydania (3 miesiące)
      </p>
      <table class="table is-fullwidth is-striped is-size-5">
        <thead>
          <tr>
            <th>Zasięg</th>
            <th>Cena netto</th>
            <th>Cena brutto</th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <td colspan="3" class="is-size-7 has-text-link"
              >Prezentowane ceny dotyczą jednego modułu. Na pierwszej stronie
              (okładka) cena jest o 25% wyższa.</td
            >
          </tr>
        </tfoot>

        <tbody>
          <tr>
            <td>Powiat Krosno</td>
            <td>119,00 zł</td>
            <td>146,37 zł</td>
          </tr>

          <tr>
            <td>Powiat Jasło</td>
            <td>119,00 zł</td>
            <td>146,37 zł</td>
          </tr>

          <tr>
            <td>Powiat Brzozów</td>
            <td>99,00 zł</td>
            <td>121,77 zł</td>
          </tr>

          <tr>
            <td>Powiat Sanok</td>
            <td>119,00 zł</td>
            <td>146,37 zł</td>
          </tr>

          <tr>
            <td>Powiat Gorlice</td>
            <td>119,00 zł</td>
            <td>146,37 zł</td>
          </tr>

          <tr>
            <td>Powiat Rzeszów</td>
            <td>119,00 zł</td>
            <td>146,37 zł</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</Main>
