---
import Main from "../layouts/Main.astro";
---

<style>
  .modules {
    display: grid;
    justify-content: center;
    grid-template-columns: 20vh 40vh;
    grid-template-rows: 15vh 30vh 15vh;
  }
  .three {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .modules div {
    color: white;
    font-weight: 700;
    /* background-color: #d61f11; */
    margin: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px #981f1d; */
    box-shadow: 5px 5px 10px #000;
    background-image: linear-gradient(#d61f11, #981f1d);
  }

  .modal-content {
    width: auto;
  }
</style>

<Main title="Grafika i moduły">
  <section class="section">
    <div class="container">
      <h1 class="title">Grafika i moduły</h1>

      <p class="block is-size-5">
        W cenie reklamy nasz grafik tworzy dla Państwa efektowne i rzucające się
        w oko grafiki które wysyła do akceptacji na maila.<br />
        Poniżej dostępne moduły wraz z wymiarami:
      </p>

      <div class="block">
        <div class="modules">
          <div>1 moduł<br />7x5 cm</div>

          <div>2 moduły (poziom)<br />14x5 cm</div>

          <div>2 moduły (pion)<br />7x10 cm</div>

          <div>4 moduły<br />14x10 cm</div>

          <div class="three">3 moduły<br />21x5 cm</div>
        </div>
      </div>
      <a class="anchor"> Kliknij aby zobaczyć przykładową stronę gazetki</a>
    </div>
  </section>

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <img src="/img/example.jpg" alt="przykładowa strona" />
    </div>
  </div>
</Main>

<script>
  const anchor = document.querySelector("a.anchor")!;
  const modal = document.querySelector("div.modal")!;

  anchor.addEventListener("click", () => {
    modal.classList.add("is-active");
  });

  modal.addEventListener("click", () => {
    modal.classList.remove("is-active");
  });
</script>
