---
import Main from "../layouts/Main.astro";
---

<Main title="Gazetka firmowa">
  <section class="section">
    <div class="container">
      <h1 class="title">O firmie</h1>

      <div class="box">
        <p class="block is-size-5">
          Gazetka firmowa to bezpłatne czasopismo reklamowe w którym dostosujesz
          zasięg i wielkość swojej reklamy do potrzeb swojej firmy.
        </p>

        <p class="block is-size-5">
          Gazetka jest to zbiorcza broszura reklam która bezpośrednio trafia do
          Twojego klienta.
        </p>

        <p class="block is-size-5">
          Gazetka ukazuje się 4 razy w roku (lato, jesień, zima, wiosna).
        </p>

        <p class="block is-size-5">
          Kolportaż wykonywany jest bezpośrednio do skrzynek mieszkańców
          powiatów Krosna, Jasła, Sanoka, Gorlic, Brzozowa i Rzeszowa.
        </p>

        <p class="block is-size-5">
          Gazetka Firmowa jest dostarczana bezpłatnie do domów jednorodzinnych,
          bloków, firm, instytucji, sklepów oraz biur.
        </p>

        <p class="block is-size-5">
          Wszystkie informacje na temat kolportażu oraz zdjęcia zamieszczamy na
          naszym <a
            rel="external"
            href="https://www.facebook.com/Gazetka-Firmowa-119906999852723/?modal=admin_todo_tour"
            target="_blank">facebooku</a
          >.
        </p>
      </div>
    </div>
  </section>
</Main>
