---
import Navigation from "../components/Navigation.astro";
---

<section class="hero is-medium">
  <div class="container">
    <div class="hero-head">
      <Navigation />
    </div>
    <img alt="Gazetka firmowa - logo" src="./gazetkafirmowa-logo.jpg" />
  </div>
</section>
